.team-title-area {
  width: 100%;
  background-image: linear-gradient(to right, rgb(51, 51, 51) , transparent);
  font-size: 24px;
}

.field-area {
  img {
    width: 100%;
    height: auto;
  }
}

.players-area {
  position: absolute;
  top: 0;
  width: 336px;
  height: 100%;
  z-index: 2;
}

.mid-col {
  max-height: 629px;
  overflow-y: auto;
  .mid-item {
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(51, 51, 51);
    color: white;
  }
}
